body {
	font-family: verdana, sans-serif;
	font-size: 14px;
}

h1, h2, h3 {
	text-align: center;
	color: #333;
}


.container {
	width: 900px;
	margin: 0 auto;
}

table {
	border-collapse: collapse;
	width: 80%;
	margin: 0 auto;
}

table, tr, td, th {
   border: 1px solid #000;
   padding: 5px;
}

th {
	text-align: left;
}

.form-row {
	display: flex;
	width: 80%;
	margin: 0 auto;
}

.form-col {
	width: 50%;
	margin: 10px 0;
}

label {
	display: block;
	padding: 5px 0;

}

input[type="submit"],
.btn-edit,
.btn-delete {
	display: inline-block;
	color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    padding: 0.375rem 0.75rem;
    line-height: 1.5;
    border-radius: 0.25rem;
	border: 1px solid transparent;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	background-color: #007bff;
	cursor: pointer;
}

input[type="submit"] {
    padding: 0.375rem 1.25rem;
	font-size: 15px;
	margin: 0 auto;
}

.btn-edit,
.btn-delete {
	text-decoration: none;
}

.btn-edit {
	background-color: #ffc107;
}

.btn-delete {
	background-color: #dc3545;
}

input[type="submit"]:hover,
.btn-edit:hover,
.btn-delete:hover {
    filter: brightness(90%);
}

input[type="text"], input[type="email"], input[type="number"] {
	width: 250px;
	border-radius: 5px;
	border: 1px solid #999;
	padding: 8px;
}

footer.container {
	text-align: center;
	margin-top: 30px;
	font-size: 13px;
}


/* for tablets 768 */

    @media screen and (max-width: 960px) {

	.container {
	    width: 768px;
	}

	}
	
	
/* for smartphones 460 */
	
	@media screen and (max-width: 768px) {
	
	.container {
	    width: 460px;
	}

	table {
		width: 95%;
	  }

	.form-row {
		display: block;
	  }

	.form-col {
  	    width: 100%;
	}

	.btn-delete {
		margin-top: 10px;
	}
	
	}
	
	
	/* for smartphones 300 */
	
	@media screen and (max-width: 460px) {
	
	.container {
	    width: 300px;
	}
	
	}
